.AdDesigner{
  display: flex;
  flex-direction: column;
 
}
.voteBox{
  width:200px;
  display: flex;
  justify-content: center;
  border: 5px solid #222 ;
  color: #000;
 
}


.dark{
  background-color: #222;
  color: #fff

}

