.Header {
  
  font-size:x-large;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
 
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);

  color: #0e3c7e;
  /* -webkit-text-fill-color: salmon; Will override color (regardless of order) */


}
.Header h1{
  font-family: 'Caveat', cursive;
}
@media only screen and (max-width: 760px) {
  .Header p {
  
    display: none;
 
  }
  .Header{
    box-shadow: none;
    border-bottom: rgba(0, 0, 255, 0.2) solid 4px; 
    width:100vw;
    
  }
}