.chocolateBar{
  width: 0px;
  background-color: sienna;
 
}

.vanillaBar{
  width:0px;
  background-color:green;
}

.strawberryBar{
  width:0px;
  background-color:red;
}

.displayNone{
  display: none;
}

.Vote{
  display:flex;
  flex-direction: column;
  
}

