.App{
  font-family: 'Caveat', cursive;
 
}

.threeAds{
  display: flex;
  justify-content: space-evenly;
  margin:25px;
 

}


.body{
  margin: 25px 300px 0px 200px;
  display:flex;
  justify-content: space-between;
}

button{
  background-color: #0e3c7e;
}
button:active{
  background-color: #1e60a9;
}

button:disabled{
  background-color:gray;
}

@media only screen and (max-width: 1000px) {
  .body {
   
    display:flex;
    flex-direction: column;
  }
}