.App{
  font-family: sans-serif;
 
}

.threeAds{
  display: flex;
  justify-content: space-evenly;
  margin:25px;
 

}


.body{
  margin: 25px 300px 0px 200px;
  display:flex;
  justify-content: space-between;
}

button{
  background-color: #0e3c7e;
}
button:active{
  background-color: #1e60a9;
}

button:disabled{
  background-color:gray;
}

@media only screen and (max-width: 760px) {
  .App {
  
    display:flex;
    flex-direction: column;
    align-items: start;
 
  }
  .threeAds {
    
  display:none;
    
 
  }
  .body {
    
    display:flex;
    flex-direction: column;
    align-items: start;
    margin:0px;
  }
}